*{
	margin: 0;
	padding: 0;
	font-family: Avenir;
}
body{
	width: 100%;
	height: 100%;
	background-color: #F48268;
}
.menu ul{
	display: inline-flex;
	margin: 30px;
}
.menu ul li {
	font-weight: bold;
	list-style: none;
	color: white;
	margin: 0 30px;
	padding-top: 15px;
	cursor: pointer;
}
.logo img{
	width: 10px;
	margin-top: -40px;
}
.active{
	color: #4D638C !important;
}
.downloadbtn {
	top: 35px;
	right: 80px;
	position: absolute;
	text-decoration: none;
	color: #F48268;
	border: 2px solid transparent;
	border-radius: 30px;
	background-image: linear-gradient(#fff, #fff);
	background-origin: border-box;
	background-clip: content-box;
}
.downloadbtn span{
	display:block;
	padding:8px 22px;
}
.profile {
	display: block;
	position: absolute;
	right: 0;
	margin: -50px 80px;
	max-width: 40%;
	height: auto;
	z-index: 100;
}
.banner {
	width: 40%; 
	height: 70%;
	padding: 50px;
	position: relative;
	box-shadow: 0 1px 8px black;
	background-color: #FFD8BE;
}
.banner h1 {
	color:#4D638C; 
	font-size: 30px; 
	line-height: 1.5;
	text-align: left;	
	margin-left: 10px
}
.banner p{
	width: auto;
	color:#4D638C; 
	font-size: 14px; 
	line-height: 1.5;
	text-align: left;
	margin-left: 10px;
}
.banner2 {
	width: 100%;
	height: 720px;
	top: 100px;
	position: relative;
	box-shadow: 0 1px 8px black;
	background-color: #FFD8BE;
}
.bodytext2 h2 {
	color:#4D638C; 
	font-size: 30px; 
	position: relative;
	line-height: 1.5;
	text-align: center;
	padding-left:40px;
	padding-top: 30px;
}
.repeaters{
	width: 100%;
	display: inline-flex;
	justify-content: space-around;
}
.repeater{
	width: 25%;
	height: 600px;
	margin: 25px;
	background-color: #FFEEDD;
}
.repeater h3{
	text-align: center;
	background-color: #B8B8FF;
	font-size: 15px;
	padding: 10px;
}
.repeater h4{
	text-align: center;
	padding:14px;
	color: #4D638C;
	font-size: 22px;
}
.repeater-img{
	width: 100%;
	height: auto;
}
.repeater p{
	text-align: center;
	font-size: 15px;
	padding: 20px;
	color: #4D638C;
}
.social-link{
	right:0;
	padding-right: 20px;
	bottom:200px;
	position: fixed;
}
.social-link ul{
	list-style-type: none;
	margin-right: 10px;
}
.social-link ul li{
	color: white;
	margin-top: 20px;
}
.footer{
	margin-top: 150px;
	width: 100%;
	height: 40px;
	background-color: #FFD8BE;
	padding-top: 20px;
	text-align: center;
	color: #4D638C;
}
@media (max-width: 1080px){
	.menu ul li {font-size: 15px;}
	.banner2 {height: auto;}
	.repeaters{display: block; justify-content: center;}
	.repeater{width: auto; height: auto;}
}
@media (max-width: 720px){
	.menu ul li {font-size: 10px;}
	.banner2 {height: auto;}
	.repeaters{display: block;}
	.repeater{width: auto; height: auto;}
}
@media (max-width: 480px){
	.menu ul li {font-size: 5px;}
	.banner2 {height: auto;}
	.repeaters{display: block;}
	.repeater{width: auto; height: auto;}
